<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 g-navbar">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand text-uppercase fw-bold ps-4">Atif Rafique</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item px-3">
                            <a class="nav-link nav-select-div">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-select-div">Data Binding</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-select-div">Recipes</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right px-3">
                        <li class="dropdown nav-select-div">
                            <a href="#" class="dropdown-toggle" role="button">Manage&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Save Data</a></li>
                                <li><a href="#">Fetch Data</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>